<!DOCTYPE html> <!--2-->
    <html lang="es"> <!--2-->
        <head> <!--2-->
            <meta charset="UTF-8"> <!--2-->
            <title>{% block title %}{% endblock %} - WebDevelopmentCourse</title> <!--2-->
            {% load static %} <!--3-->
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/> <!--3-->
        </head> <!--2-->
        <body> <!--2-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--2-->
                <a class="navbar-brand" href="/">Blog with Python and Django</a> <!--2-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <!--2-->
                    <span class="navbar-toggler-icon"></span> <!--2-->
                </button> <!--2-->
            </nav> <!--2-->
            <div class="container mt-3"> <!--2-->
                {% if messages %} # <!--6-->
                    <div class="row mt-3 mb-3"> # <!--6-->
                        <div class="col-12"># <!--6-->
                            {% for message in messages %} # <!--6-->
                                <div class="alert alert-{{ message.tags }}"> # <!--6-->
                                    {{ message }} # <!--6-->
                                </div> # <!--6-->
                            {% endfor %} # <!--6-->
                        </div> # <!--6-->
                    </div> # <!--6-->
                {% endif %} # <!--6-->
                {% block content %}{% endblock %} <!--2-->
            </div> <!--2-->
            <script src="{% static 'js/jquery-slim.min.js' %}"></script> <!--3-->
            <script src="{% static 'js/popper.min.js' %}"></script> <!--3-->
            <script src="{% static 'js/bootstrap.min.js' %}"></script> <!--3-->
        </body> <!--2-->
</html> <!--2-->
